.signup-login-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.signup-form, .login-form {
    width: 45%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2, .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.signup-form input, .login-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button, .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.signup-form button:hover, .login-form button:hover {
    background-color: #0056b3;
}
